.page-bg {
    background: #bdbdae;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.card {
    background: #ffffff;
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}



h1 {
    margin: 0;
    font-size: 28px;
    color: #1d1d1d;
}

.subtitle {
    margin: 10px 0 30px 0;
    color: #5f6368;
    font-size: 14px;
}


.create-form input,
.create-form select,
.create-form textarea {
    width: 100%;
    padding: 14px;
    border: none;
    background: #f1f4f9;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    font-size: 15px;
}



button {
    width: 180px;
    padding: 12px;
    background: #bdbdae;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background: #a2805a;
}